.UserTransactions{
    width: 100%;
    text-align: center;
}

.UserTransactions a{
    text-decoration: none;
}

.Container{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
}

.Tile{
    box-sizing: border-box !important;
    background-color: #d6dfe8;
    background-color:  rgb(156, 188, 212);
    cursor: pointer;
    width: 100px;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3d4656;
    margin: 0 2px 4px;
}

.Tile:hover{
    transform: scale(1.05);
}

.tabsContainer {
  width: 80%;
  margin: 18px auto;  
}
